body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
}

h1, h2, h3 {
  padding-bottom: 10px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #000;
  }
}

a.btn-primary, a.btn-danger {
  color: #fff;
  
  &:visited {
    color: #fff;
  }

  &:hover {
    color: #fff;
  }
}

a.btn-primary {
  margin-bottom: 10px;
}

.navbar {
    position: relative;
    min-height: 60px;
    margin-bottom: 15px;
}
.navbar-brand {
	padding: 20px 25px !important;
	color: #fff !important;
	min-height: 60px !important;
}
.navbar-static-top {
    z-index: 9 !important;
}
.navbar-default {
    background-color: #398939 !important;
    box-shadow: 0px 2px 6px #ccc;
}
.navbar-default .navbar-nav {
	padding: 20px !important;
}
.navbar-default .navbar-nav > li {
	margin-right: 30px;
}
.navbar-default .navbar-nav > li > a {
	color: #fff !important;
	padding: 0px !important;
	font-size: 14px !important;
}
.navbar-default .navbar-nav > li > a:hover {
	color: #ddd !important;
}
.navbar-default .navbar-toggle {
	border-color: #fff !important;
    background-color: #449D44 !important;
}
.navbar-default .navbar-toggle:hover {
	background-color: #4b894b !important;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff !important;
}
.container-fluid {
	padding-left: 25px !important;
	padding-right: 25px !important;
}

.search-right {
	display: block;
	width: 30% !important;
	float: right;
	text-align: right;
	height: 40px;
}

.search-right input {
	float: left;
	margin-right: 5px !important;
	margin-left: -98px !important;
}

.pag-right {
	display: block;
	width: 50%;
	float: right;
	text-align: right;
	margin-top: -15px;
	height: 50px;
}

.btn-success {
	color: #fff !important;
}

.col-actions {
	text-align: center;
	width: 280px !important;
}

.btn {
	vertical-align: baseline !important;
	margin-bottom: -1px !important;
}

th {
	padding: 15px 8px !important;
}

td {
	padding: 0 5px 7px;
	vertical-align: baseline !important;
}

.container-form {
	margin-left: -15px !important;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.label-checkbox {
  display: inline-block;
  margin: 0px 5px;
}
